---

services:
  languagetool:
    image: erikvl87/languagetool
    container_name: languagetool
    environment:
      - langtool_languageModel=/ngrams   # OPTIONAL: Using ngrams data
      - Java_Xms=512m                    # OPTIONAL: Setting a minimal Java heap size of 512 mib
      - Java_Xmx=1g                      # OPTIONAL: Setting a maximum Java heap size of 1 Gib
    volumes:
      - ./ngrams:/ngrams     # OPTIONAL: The location of ngrams data on the local machine
      # - ./logback.xml:/LanguageTool/logback.xml:ro  # OPTIONAL: Overwrite the logging configuration
    networks:
      - internal

  proxy:
    build: ./cors-workaround/nginx
    container_name: languagetool-proxy
    ports:
      - 127.0.0.1:8081:8081              # Only listen on localhost
    networks:
      - internal
      - default
    depends_on:
      - languagetool

networks:
  internal:
    internal: true  # No internet access for containers on this network

